<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<div class="container">
 <form action="#" th:action="@{/ingreso/__${ingreso.id}__/edit}" th:object="${ingreso}" method="post">
 	<table>
 	<tr>
 		<td>Nombre de la Empresa: </td>
 		<td><input type="text" th:field="*{nomEmpresa}"/></td>
 		<td th:if="${#fields.hasErrors('nomEmpresa')}" th:errors="*{nomEmpresa}">Debe Ingresar el nombre de su Empresa</td>
 	</tr>
 	<tr>
 		<td>Ingreso Bruto: </td>
 		<td><input type="text" th:field="*{ingresoBruto}"/></td>
 		<td th:if="${#fields.hasErrors('ingresoBruto')}" th:errors="*{ingresoBruto}">Valor que ingreso no es un numero o es negativo.</td>
 	</tr>
 	</table>
 	<input type="submit" value="Grabar">
</form>
</div>
</body>
</html>