<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de ingresos</title>
</head>
<body>

<table>
  <tr>
  	<td>ID</td>
  	<td>Empresa</td>
  	<td>Ingreso Bruto</td>
  	<td>Renta Neta</td>
  	<td>Impuesto</td>
  </tr>
  <tr th:each="ingreso : ${ingreso}">
  	<td th:text="${ingreso.id}"></td>
  	<td th:text="${ingreso.nomEmpresa}"></td>
  	<td th:text="${ingreso.ingresoBruto}"></td>
  	<td th:text="${ingreso.rentaNeta}"></td>
  	<td th:text="${ingreso.impuesto}"></td>
  </tr>

</table>


</body>
</html>