<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista de ingresos</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
<div class="contianer">
	<center><h1>Lista de las Empresas</h1></center>
<br>
<table border=1 class="table table-striped">
  <thead>
  	<tr>
  		<th>Opcion</th>
  		<th>Empresa</th>
  		<th>Ingreso Bruto</th>
  		<th>Renta Neta</th>
  		<th>Impuesto</th>
  		<th>Renta Mensual</th>
  	</tr>
  </thead>
  <tr th:each="ingreso : ${ingreso}">
  	<td><a th:href="@{'/ingreso/__${ingreso.id}__/edit'}"class="btn btn-info" role="button">Edit</a> <a th:href="@{'/ingreso/__${ingreso.id}__/delete'}" class="btn btn-danger" role="button">Delete</a> </td>
  	<td th:text="${ingreso.nomEmpresa}"></td>
  	<td th:text="${ingreso.ingresoBruto}"></td>
  	<td th:text="${ingreso.rentaNeta}"></td>
  	<td th:text="${ingreso.impuesto}"></td>
  	<td th:text="${ingreso.rentaMensual}"></td>
  </tr>

</table>
</div>

</body>
</html>